<html>
  <head></head>
  <body>
    <div class="header">
      <h1>Show me a message</h1>
      <h5>Messages please!<h5>
    </div>
    <div class="messages">
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </body>
</html>
